/* menunavber part */
.Navber{
  padding: 10px 0;
    background-image: linear-gradient(to left,rgba(193, 39, 39, 0.72), #ca0909a9,rgb(255, 255, 255));
}
.menulist{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.menuIteam{
    color: white;
}

.menubody{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.search{
    padding:10px 5px  ;
    background-color: yellow;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}
.Buttton{
    display: flex;
  
}
.search:hover{
    background-color: aqua;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
}

.btn:hover{
    background-color: yellow;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
}
.btn{
    padding: 10px 30px;
    background-color: aqua;
    cursor: pointer;
    border: none;
}